<a href="https://colab.research.google.com/github/KatyayaniI5/ADSA-LAB/blob/main/Week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i=1
while(i<=10):
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
sum=0
n=int(input("Enter the value of n"))
for i in range(1,n+1):
  sum+=i

print(sum)

Enter the value of n10
55

In [ ]:
n=int(input("Enter a number:"))
count=0
while(n!=0):
    count=count+1
    n=n//10
print("The number of digits in the number are:",count)

Enter a number:145623
The number of digits in the number are: 6

In [ ]:
for i in range(1500,2700):
  if(i%7==0 and i%5==0):
    print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [ ]:
a=int(input("Guess a number between 1 to 9:"))
while(a!=7):
  a=int(input("Guess a number between 1 to 9:"))
print("Well guessed!")

Guess a number between 1 to 9:3
Guess a number between 1 to 9:4
Guess a number between 1 to 9:7
Well guessed!

In [ ]:
n=int(input("Enter number of rows"))

for i in range(1, n + 1):
    for j in range(i):
        print('*', end=' ')
    print()
for i in range(n - 1, 0, -1):
    for j in range(i):
        print('*', end=' ')
    print()

Enter number of rows5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n=int(input("Enter the number of numbers in series"))
c1=0
c2=0
for i in range(n):
  a=int(input("Enter a number"))
  if(a%2==0):
    c1+=1
  else:
    c2+=1
print("Number of even numbers:",c1)
print("Number of odd numbers:",c2)

Enter the number of numbers in series8
Enter a number4
Enter a number2
Enter a number8
Enter a number9
Enter a number1
Enter a number5
Enter a number3
Enter a number7
Number of even numbers: 3
Number of odd numbers: 5

In [ ]:
#fibbinoci series
a,b=0,1
while a<=50:
  print(a,end=" ")
  a,b=b,a+b

0 1 1 2 3 5 8 13 21 34

In [ ]:
while i<=50:
  if(i%3==0 and i%5==0):
    print("FizzBuzz")
  elif(i%3==0):
    print("Fizz")
  elif(i%5==0):
    print("Buzz")
  else:
    print(i)
  i+=1

2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

In [ ]:

height = 7
width = 5


for i in range(height):

    for j in range(width):

        if i == 0 and (j > 0 or j < width - 1):
            print('*', end='')
        elif i == height // 2:
            print('*', end='')
        elif j == 0 or j == width - 1:
            print('*', end='')
        else:
            print(' ', end='')

    print()

*****
*   *
*   *
*****
*   *
*   *
*   *

In [ ]:
a=int(input("Enter a number"))
b=a
count =0
while(a!=0):
  a=a//10
  count+=1
a=b
p=0
for i in range(count):
 r=a%10
 p+=r**3
 a=a//10
if(p==b):
  print("Armstrong")
else:
  print("Not Armstrong")

Enter a number153
Armstrong

In [ ]:
r=9
c=9
for i in range(1,r+1):
  for j in range(c):
    print(i,end=" ")
  print()

1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3 3
4 4 4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5
6 6 6 6 6 6 6 6 6
7 7 7 7 7 7 7 7 7
8 8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [ ]:
#factorial of a number
n=int(input("Enter a number"))
f=1
for i in range(1,n+1):
  f*=i
print(f)
#

Enter a number5
120

In [ ]:
#Multiplication
n=int(input("Enter a number"))
for i in range(1,11):
  print(n,"*",i,"=",n*i)

Enter a number2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20