<a href="https://colab.research.google.com/github/KatyayaniI5/ADSA-LAB/blob/main/Week9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l=[1,2,3,4,5,'Apple','Kiwi']
print(l)

[1, 2, 3, 4, 5, 'Apple', 'Kiwi']

In [ ]:
l=[1,2,3,4,5,'Apple','Kiwi']
l.append('orange')
l.insert(4,'Grapes')
print("List after adding elements:",l)
l.remove('orange')
l.pop(7)
print("List after removing elements:",l)

List after adding elements: [1, 2, 3, 4, 'Grapes', 5, 'Apple', 'Kiwi', 'orange']
List after removing elements: [1, 2, 3, 4, 'Grapes', 5, 'Apple']

In [ ]:
l = [1, 2, 3, 4, 5]

for i in l:
  print(i)

1
2
3
4
5

In [ ]:
l=[1,2,3,4,5,6,7]
l.insert(4,8)
print(l)

[1, 2, 3, 4, 8, 5, 6, 7]

In [ ]:


l = [11, 5, 17, 18, 23, 50]
print("Original list:", l)

del l[2:5]
print("List after removing elements from index 2 to 4:", l)

Original list: [11, 5, 17, 18, 23, 50]
List after removing elements from index 2 to 4: [11, 5, 50]

In [ ]:
l=[2,4,6,1,0,8,5]
l.sort()
print(l)

[0, 1, 2, 4, 5, 6, 8]

In [ ]:


def differ(l1, l2):

  di= []
  for element in l1:
    if element not in l2:
      di.append(element)
  return di

l1 = [1, 2, 3, 4, 5]
l2 = [3, 4, 5, 6, 7]
difference = differ(l1, l2)
print("Difference between list1 and list2:", difference)

Difference between list1 and list2: [1, 2]

In [ ]:


def find_first_match_index(lst, element):

  try:
    return lst.index(element)
  except ValueError:
    return -1

my_list = [1, 2, 3, 4, 5, 2, 6]
element_to_find = 2

index = find_first_match_index(my_list, element_to_find)

if index != -1:
  print(f"The first occurrence of {element_to_find} is at index {index}")
else:
  print(f"{element_to_find} is not found in the list")

The first occurrence of 2 is at index 1

In [ ]:
a= [56,89,47,99,10, 20, 30, 40, 50]
a.sort()
print(a)
[10, 20, 30, 40, 47, 50, 56, 89, 99]
print(a[0])
10
print(a[8])

[10, 20, 30, 40, 47, 50, 56, 89, 99]
10
99

In [ ]:
my_list = []
n = int(input("How many elements do you want to add? "))
for i in range(n):
  element = input(f"Enter element {i+1}:")

  my_list.append(element)
print("The list elements are:", my_list)

How many elements do you want to add? 3
Enter element 1:mango
Enter element 2:watermelon
Enter element 3:papaya
The list elements are: ['mango', 'watermelon', 'papaya']

In [ ]:
a= [56,89,47,99,10, 20, 30, 40, 50,99,50]
my_list=list(set(a))
print(my_list)

[99, 40, 10, 47, 50, 20, 56, 89, 30]

In [ ]:
my_list = [10, 15, 20, 25, 30, 35, 40, 45, 50]
even_list = []
odd_list = []

for num in my_list:
  if num % 2 == 0:
    even_list.append(num)
  else:
    odd_list.append(num)
print("Even numbers:", even_list)
print("Odd numbers:", odd_list)

Even numbers: [10, 20, 30, 40, 50]
Odd numbers: [15, 25, 35, 45]

In [ ]:
my_list = [12, 24, 35, 40, 60, 72, 80, 90]
M = int(input("Enter value for M:"))
N = int(input("Enter value for N: "))
divisible_by_M_and_N = []
for num in my_list:
  if num % M == 0 and num % N == 0:
    divisible_by_M_and_N.append(num)

print(f"Numbers divisible by both {M} and {N} are:",divisible_by_M_and_N)

Enter value for M:3
Enter value for N: 5
Numbers divisible by both 3 and 5 are: [60, 90]

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
start_index = int(input("Enter the start index:"))
end_index = int(input("Enter the end index:" ))
sublist = my_list[start_index:end_index+1]
print(f"The sublist from index {start_index} to {end_index} is:", sublist)

Enter the start index:2
Enter the end index:6
The sublist from index 2 to 6 is: [30, 40, 50, 60, 70]

In [ ]:
start = int(input("Enter the start of the range: "))
end = int(input("Enter the end of the range: "))
numbers = list(range(start, end + 1))
squares = [num ** 2 for num in numbers]
cubes = [num ** 3 for num in numbers]
print("Numbers:", numbers)
print("Squares:", squares)
print("Cubes:", cubes)

Enter the start of the range: 2
Enter the end of the range: 7
Numbers: [2, 3, 4, 5, 6, 7]
Squares: [4, 9, 16, 25, 36, 49]
Cubes: [8, 27, 64, 125, 216, 343]

In [ ]:
def split_list(input_list):
  mid = len(input_list) //2
  first_half = input_list[:mid]
  second_half = input_list[mid:]
  return first_half, second_half
my_list = [1, 2, 3, 4, 5, 6, 7, 8]
first_half, second_half = split_list(my_list)
print("First half:", first_half)
print("Second half:", second_half)

First half: [1, 2, 3, 4]
Second half: [5, 6, 7, 8]

In [ ]:
def check_element_in_list(input_list, element):
  if element in input_list:
    return True
  else:
    return False

my_list = [10, 20, 30, 40, 50]

element_to_check = 30
is_present = check_element_in_list(my_list, element_to_check)

if is_present:
  print(f"{element_to_check} is present in the list.")
else:
  print(f";{element_to_check} is not present in the list.")

30 is present in the list.

In [ ]:
def swap_elements(input_list, index1, index2):
  if index1<0 or index1 >= len(input_list) or index2 < 0 or index2 >=len(input_list):
    print("Invalid indices!")
    return input_list
  input_list[index1], input_list[index2] = input_list[index2],input_list[index1]
  return input_list

my_list = [10, 20, 30, 40, 50]
index1 = 1
index2 = 3
swapped_list = swap_elements(my_list, index1, index2)
print("List after swapping:", swapped_list)

List after swapping: [10, 40, 30, 20, 50]

In [ ]:
def interchange_first_last(input_list):

  if len(input_list) < 2:

    print("List is too short to interchange elements!")
    return input_list
  input_list[0], input_list[-1] = input_list[-1], input_list[0]
  return input_list
my_list = [10, 20, 30, 40, 50]
modified_list = interchange_first_last(my_list)
print("List after interchanging first and last elements:", modified_list)

List after interchanging first and last elements: [50, 20, 30, 40, 10]

In [ ]:
def cumulative_sum(input_list):
  cumulative_sum_list = []
  total = 0
  for number in input_list:
    total += number
    cumulative_sum_list.append(total)
  return cumulative_sum_list
my_list = [1, 2, 3, 4, 5]
result = cumulative_sum(my_list)
print("Cumulative sum of elements:", result)

Cumulative sum of elements: [1, 3, 6, 10, 15]